{% extends "HomePage/base.html" %}

{% block content %}
<div class="contactscontainer">
  <h2 style="color: red">This app is still in alpha stage!</h2>
  <div class="contacts">
    <div class="devcontainer">

      <div class="devcontainer developer">
        <ul>
          <li><h3>Main developer: Valerio Formato</h3></li>
          <ul>
            <li>email: valerio.formato@cern.ch</li>
            <li>email: valerio.formato@pg.infn.it</li>
            <li>email: valerio.formato@gmail.com</li>
          </ul>
        </ul>
      </div>

      <div class="devcontainer developer">
        <ul>
          <li><h3>Developer: Tizio Caio</h3></li>
          <ul>
            <li>email: tizio.caio@cern.ch</li>
          </ul>
        </ul>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
